#bodyMain {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column; /*without this the grid came out all wonky, this makes all the items fall into the proper columns! */
    justify-content: flex-start;
    border: 2px solid red;
    width: 600px;
    height: 600px;
}

.item {
    background-color: lightgrey;
    width: 20px;
    border: 0.5px solid green;
    height: 20px;
    display: flex;
    flex: 1; /*fills the space of the container left to right */
    height: 100%; /* fills the space of the container top to bottom */
}